<header>
    <h1>Erich Then's Egotistical Terrier | ITIS3135</h1>
    <nav>
        <a href="./" class="nav-link">Home</a>
        <p>‖</p>
        <a href="introduction.html" class="nav-link">Introduction</a>
        <p>‖</p>
        <a href="contract.html" class="nav-link">Contract</a>
        <p>‖</p>
        <a href="website_evaluations.html" class="nav-link">Website Evalutations</a>
        <p>‖</p>
        <a href="tables.html" class="nav-link">HTML Tables</a>
    </nav>
    <hr>
    <nav id="secondary-nav">
        <a href="../egotistical_terrier/about.html" class="nav-link">Egotistical Terrier Fortunes</a>
        <p>‖</p>
        <a href="stuff/crappy%20WEBSITE&.htm" class="nav-link">CRAPPY masterpiece</a>
        <p>‖</p>
        <a href="hobby/" class="nav-link">Hobby</a>
    </nav>
</header>